* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px 10px 0px 10px;
    border: none;
}

.column:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    height: 200px;
}

div {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    width: 500px;
    height: 250px;
    text-align: center;
    line-height: 20px;
}

.card {
    border: 2px solid black;
    height: 270px;
}

body {
    background-image: linear-gradient(to bottom, lightgrey, slategrey);
    text-align: center;
    font-family: Arial;
}

button {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

input {
    padding: 6px 0px;
    margin: 8px 0;
}
